<div class="container">
<h2 class="is-size-2 has-text-white">New books</h2>
<div class="container">
    <form action ="/books" method="POST" >
        <%- include('_form_fields') %> 
        <a class ="button is-medium is-primary is-hovered" href="/books"> Cancel</a>
        <button class="button is-medium is-warning is-hovered ml-3" type="submit"> Create </button>
        </form>
</div>
</div>