
<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="button is-danger is-outlined mt-5 is-medium" type="submit">
      <span>
      Delete
      </span>
      <span class="icon is-small">
        <i class="fas fa-times"></i>
    </button>
  </form>
  