
<nav class="level pt-3 pb-3 navbar is-light">
  <div class="class"></div>
  <a class="level-item has-text-centered is-size-1-desktop is-family-code" href="/authors">
    <span class="icon">
      <i class="fas fa-user-edit"></i>
    </span> &nbsp;Authors

  <a class="level-item has-text-centered is-size-1-desktop is-family-code" href="/authors/New">
    <span class="icon">
      <i class="far fa-plus-square fa-fw"></i>
    </span> &nbsp;Add authors

  <p class="level-item has-text-centered is-size-1-desktop">
    <a class="/" href="/">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
    </a>
  </p>

  <a class="level-item has-text-centered is-size-1-desktop is-family-code" href="/books">
    <span class="icon">
      <i class="fas fa-book fa-fw"></i>
    </span> &nbsp;Books

  <a class="level-item has-text-centered is-size-1-desktop is-family-code" href="/books/New">
    <span class="icon">
      <i class="far fa-plus-square"></i>
    </span> &nbsp;Add Books
  </a>
  
  <a class="level-item has-text-centered is-size-1-desktop is-family-code" href="https://github.com/lumjc/CRUD" target="_blank">
    <span class="icon is-medium" style="color: #333;">
      <i class="fab fa-github fa-1x"></i>
    </span>
  </a>
</nav>
</span>

