<header>
    <nav>
        <a href="/">Library</a>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/New"> Add</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/New"> Add Book</a></li>
        </ul>
    </nav>

</header>