<header>
    <nav>
        <a href="/">Library</a>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/New"> Add</a></li>
        </ul>
    </nav>

</header>