@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
.bg-img { 
    background-image: url("img/background.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

