<div class="container">
    <class class="box has-background-grey-darker">
<h2 class="title is-2 has-text-white is-family-code">Edit Author</h2>

<form action ="/authors/<%= author.id %>?_method=PUT" method="POST">
<%- include('_form_fields') %> 
<a class="button is-danger is-outlined is-medium" href="/authors"> cancel</a>
<button class="button is-medium button is-primary is-focused is-light ml-4" type="submit"> Update </button>
</form>
</class>
</div>