<body class="author-new-bg-img">
<div class="container">
<h2 class="title is-2 has-text-white is-family-code">New Author</h2>

<form class ="author-form" action ="/authors" method="POST">
<%- include('_form_fields') %> 

<button class="button is-danger is-outlined is-medium" type="submit">
    <span>
    <a href="/authors">
    Cancel
    </span>
    </a>
    <span class="icon is-small">
      <i class="fas fa-times"></i>
  </button>

<button class="button is-medium button is-primary is-focused is-light ml-4"type="submit"> Create </button>
</form>
</div>
</body>