<div class="container">
    <div class="box has-background-grey-darker">
<h2 class="is-size-3 has-text-white"><%= author.name %></h2>

<a class="is-size-5 has-text-success button is-success button is-small is-outlined mt-3" href="/authors/<%= author.id %>/edit">Edit</a>
<%- include ('../partials/deleteForm',
            {url: `/authors/${author.id}`}) %>

    <% if (booksByAuthor.length > 0) { %>
        <h2 class="is-size-4 has-text-white mt-3 mb-5">Books By Author</h2>
        <% booksByAuthor.forEach(book => { %>
            <img height="150" width="100" class="is-rounded"  src="<%= book.coverImgPath %>">
        <% }) %>
        <% } %>
    </div>
</div>